/* styles.css */
*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #150045;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    z-index: 999;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
    
}

nav li a{
    color: rgb(255, 251, 146);
    text-decoration: none;
    font-family: Montserrat;
}

nav li a:hover{
    color: #f0bc02;
    text-decoration: none;
}


.logo{
    padding: 0 15px;
}
.logo img{
    width: 95px;
    height: auto;
}

.iconos {
    display: flex;
    
}

.iconos a {
    margin: 0 10px;
    color: #353562;
    font-size: 18px;
}
.iconos a:hover {
   
    color: #fff491;
    
}


/* aquì se implementan los estilos css para la seccion uno*/

.principal {
    background-image: url('../imagen/pexels-rostislav-10458835.jpg');
    background-size: cover;
    background-position: center;
    height: 500px; /* Ajusta la altura según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenidouno {
    width: 1110px;
    height: 470px;
    text-align: center;
    color: #fff;
    padding: 2px;
    background: rgba(0, 0, 0, 0.2);
    
    border-radius: 25px;
    font-size: 16px;
    margin: 0 30px;

    
}

.contenidouno h1{
    margin-top: 200px;
    margin-bottom: 15px;
    font-family: Kanit;
    color: #fcffbe;
    font-size: 42px; 
            letter-spacing: 5px; 
            
           
}

.contenidouno h2{
    margin-bottom: 15px;
    font-family: Kanit;
    color: #fffeea;
    font-size: 34px; 
            letter-spacing: 4px;
}

.contenidouno p{
    margin-bottom: 30px;
    font-family: Montserrat; 
    font-size: 15px; 
            letter-spacing: 2px;
}

.buttons {
    display: flex;
    justify-content:center;
    margin-top: 50px;
}

.button {
    background-color: #2f005a;
    color: rgb(255, 179, 251);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 14px;
    margin: 0 30px;
    font-family: Fira Sans;
}

.button:hover {
    background-color: #ffc15c;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 14px;
    margin: 0 30px;
    font-family: Fira Sans;
}


/*estilos para el contenido dos*/

.banner {
    background-image: url('../imagen/pexels-thisisengineering-3861969.jpg');
    background-size: cover;
    background-position: center;
    height: 300px; /* Ajusta la altura según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenidodos {
    width: 100%;
    height: 300px;
    text-align: center;
    color: #fff;
    padding: 2px;
    background: rgba(0, 0, 0, 0.8);
}

.contenidodos h2{
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: Montserrat;
    color: #befdff;
    font-size: 22px; 
            letter-spacing: 5px;
            text-transform: uppercase;
}


.figuras {
    display: flex;
    justify-content: center;
}

.figuras a {
    margin: 0 10px;
    color: #faf7f7;
    font-size: 18px;
}
.figuras a:hover {
   
    color: #f3e306;
    
}




/*creando la seccion 03 del contenido de la pagina*/

  .galeria {
    background-color: #0c2238;
    padding: 50px 0;
    border-radius: 5px;
   
    }

  .galeria h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #00b7ff;
    font-family: Dosis;
    
    font-size: 22px; 
            letter-spacing: 2px;
            text-transform: uppercase;
    
  }

  .galeria p {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    line-height:5px ;
    margin-bottom: 10px;
     font-family: Montserrat;
    letter-spacing: 1px;
    
  }

  .contenidotres {
    max-width: 1200px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
  }

  .contenidotres .columna {
    flex: 1;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
  }

  .contenidotres .columna img {
    max-width: 100%;
    height: auto;
    border: 2px solid #04416a;
    padding: 5px;
    border-radius: 4px;
    
  }

  .contenidotres .columna p {
    margin-top: 20px;
    text-align: justify;
    line-height: 20px;
  }

  .contenidotres .columna a {
    display: inline-block;
    padding: 10px 30px;
    background-color: #ef8f12;
    color: #fff;
    text-decoration: none;
    border: 2px solid #1c00bd;
    border-radius: 5px;
    margin-top: 20px;
    font-family: Libre Baskerville;
    font-size: 17px;
  }

  .contenidotres .columna a:hover {
    background-color: #c4007c;
  }


  
  /*creando el Footer - pie de pagina final de
  la pagina*/
  
  .footer {
    background-color: #0a000e;
    color: #ffffff;
    padding: 20px;
  }
  
  .filas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  h3 {
    color: #c3ff62;
    margin: 0;
    text-align: center;
    font-family: Dosis;
  }
  
  p{
    color: #fffebb;
    margin: 0;
    text-align: center;
    font-size: 12px;
    font-family: Montserrat;
    margin-bottom: 20px
  }
  .social-icons1 {
    display: flex;
  }
  


  /* Aquí puedes agregar tu CSS */
  .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.social-icons li {
    display: inline-block;
}

.social-icons a {
    text-decoration: none;
    color: #c3ff62;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #0077b5; /* Cambia esto según el color que desees para el hover */
}
  

  